{% load i18n %}
{% block footer %}
    <h2 class="hide">{% trans "Navigation" %}</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <h3 class="nav-title">{% trans "Information" %}</h3>
            <ul class="nav-list list-unstyled">
                <li><a href="{% url 'homepage' %}">{% trans "Home" %}</a></li>
                <li><a href="{% url 'register' %}">{% trans "Create an account" %}</a></li>
                <li><a href="{% url 'contact_form' %}">{% trans "Contact US" %}</a></li>
                <li><a href="{% url 'about-us' %}">{% trans "About US" %}</a></li>
                <li><a href="{% url 'newsletter_signup' %}">{% trans "Subscribe to Newsletter" %}</a></li>
                <li><a href="{% url 'static_page' 'regulations' %}">{% trans "Regulations" %}</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3 class="nav-title">{% trans "Organizations" %}</h3>
            <ul class="nav-list list-unstyled">
                <li><a href="{% url 'organizations_list' %}">{% trans "List of organizations" %}</a></li>
                <li><a href="{% url 'organizations_create' %}">{% trans "Create organization" %}</a></li>
                <li><a href="{% url 'offers_create' %}">{% trans "Create offer" %}</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3 class="nav-title">{% trans "Volunteers" %}</h3>
            <ul class="nav-list list-unstyled">
                 <li><a href="{% url 'register' %}">{% trans "Create an account" %}</a></li>
                 <li><a href="{% url 'offers_list' %}">{% trans "List current offers" %}</a></li>
                 <li><a href="{% url 'offers_archived' %}">{% trans "Archived offers" %}</a></li>
                 <li><a href="{% url 'organizations_list' %}">{% trans "List organizations and institutes" %}</a></li>
                 <li><a href="{% url 'static_page' 'faq-volunteers' %}">{% trans "FAQ for volunteers" %}</a></li>
                 <li><a href="{% url 'office' %}">{% trans "Come to work" %}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
